body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;

  /* Colors */
  --color-darkgray: #909fa6;
  --color-lightseagreen: #39b0a9;
  --color-white: #fff;
  --color-mediumvioletred: #db00b6;

  /* border radiuses */
  --br-3xs: 10px;
}
